@using Radzen
@using Radzen.Blazor
@if (Orders is null || Orders.Count <= 0)
{
    <h3>Przygotowuje dane</h3>
}
else
{
    <RadzenRow>
        <RadzenColumn Size="12">
            <RadzenButton Icon="euro" Click="@(args => DisplayCurrencyRate())" />
        </RadzenColumn>

        <RadzenColumn Size="12" Style="margin-top:12px;">
            <RadzenNumeric @bind-Value="percentValueForSourceCosts" Style="width:200px;" />
            <RadzenDropDown Data="@sourceCosts"
                            TextProperty="Name"
                            ValueProperty="Source"
                            @bind-Value="@selectedSourceCostsValue"
                            Style="width:200px; margin-left:10px;"/>
            <RadzenButton Text="Przelicz" Click="@OnCalculate" Style="margin-left:10px;"/>
        </RadzenColumn>
    </RadzenRow>
    
    <RadzenDataGrid @ref="_grid" ExpandMode="DataGridExpandMode.Single" Data="@Orders" TItem="Domain.Order" AllowColumnPicking="true">
        <Template Context="order">
            <RadzenDataGrid Data="@order.PriceCalculator" AllowColumnPicking="true">
                <Columns>
                    <RadzenDataGridColumn Property="@nameof(Domain.PriceCalculator.ProductName)" Title="Nazwa Produktu" />
                    <RadzenDataGridColumn Property="@nameof(Domain.PriceCalculator.EstimatedShippingCostZl)" Title="Rzeczywisty koszt dostawy netto (PLN)" />
                    <RadzenDataGridColumn Property="@nameof(Domain.PriceCalculator.NetDeliveryCostZl)" Title="Koszt zakupu produktu netto" />
                    <RadzenDataGridColumn Property="@nameof(Domain.PriceCalculator.TotalCosts)" Title="Cena sprzedaży + koszt dostawy netto (PLN)" />
                    <RadzenDataGridColumn Property="@nameof(Domain.PriceCalculator.AmountMargin)" Title="Marża kwotowo" />
                    <RadzenDataGridColumn Property="@nameof(Domain.PriceCalculator.IncomePercentage)" Title="Procentowa marża (%)" />
                </Columns>
            </RadzenDataGrid>
        </Template>
        <Columns>
            <RadzenDataGridColumn Property="@nameof(Domain.Order.OrderId)" Title="Id zamówienia" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.Date)" Title="Data" FormatString="{0:yyyy-MM-dd}" Visible="false"/>
            <RadzenDataGridColumn Property="@nameof(Domain.Order.Source)" Title="Pochodzenie" Visible="false" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.LastName)" Title="Nazwisko" Visible="false" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.Phone)" Title="Telefon" Visible="false" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.Email)" Title="Email" Visible="false" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.ProductName)" Title="Nazwa produktu" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.ProductId)" Title="Id produktu" Visible="false" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.Sku)" Title="@nameof(Domain.Order.Sku)" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.Ean)" Title="@nameof(Domain.Order.Ean)" Visible="false" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.Quantity)" Title="Ilość" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.Price)" Title="Cena" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.Currency)" Title="Waluta" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.ShippingCost)" Title="Koszty wysyłki" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.ShippingMethod)" Title="Sposób wysyłki" Visible="false" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.TrackingNumber)" Title="Nr nadwaczy" Visible="false" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.OrderStatus)" Title="Status zamówienia" Visible="false" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.TotalCost)" Title="Całkowity koszt" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.TotalCostPln)" Title="Całkowity koszt PLN" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.CurrencyExchangeRate)" Title="Kurs" />
            <RadzenDataGridColumn Property="@nameof(Domain.Order.CalculatedValue)" Title="Wyliczona wartość" />
        </Columns>
    </RadzenDataGrid>
}