@using Dto
@using Radzen
@using Radzen.Blazor

@if (Orders is null || Orders.Count <= 0)
{
    <h3>Wczytaj plik CSV zawierający marżowość</h3>
    <InputFile OnChange="HandleFileSelected" accept=".csv" />
}
else
{
    <RadzenDataGrid 
        Data="@Orders" 
        TItem="OrderFileDto"
        @ref="_grid"
        ColumnWidth="200px"
        EditMode="DataGridEditMode.Single"
        RowUpdate="@OnUpdateRow"
        AllowColumnPicking="true">
        <Columns>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.OrderId)" Title="Id zamówienia">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.OrderId" Style="width:100%" />
                </EditTemplate> 
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.Date)" Title="Data" FormatString="{0:yyyy-MM-dd}">
                <EditTemplate Context="data">
                    <RadzenDatePicker @bind-Value="data.Date" Style="width:100%"/>
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.Source)" Title="Pochodzenie" Visible="false">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.Source" Style="width:100%" />
                </EditTemplate> 
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.LastName)" Title="Nazwisko" Visible="false">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.LastName" Style="width:100%" />
                </EditTemplate> 
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.Phone)" Title="Telefon" Visible="false">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.Phone" Style="width:100%" />
                </EditTemplate> 
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.Email)" Title="Email" Visible="false">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.Email" Style="width:100%" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.ProductName)" Title="Nazwa produktu">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.ProductName" Style="width:100%" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.ProductId)" Title="Id produktu" Visible="false">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.ProductId" Style="width:100%" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.Sku)" Title="@nameof(OrderFileDto.Sku)" >
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.Sku" Style="width:100%" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.Ean)" Title="@nameof(OrderFileDto.Ean)" Visible="false">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.Ean" Style="width:100%" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.Quantity)" Title="Ilość">
                <EditTemplate Context="data">
                    <RadzenNumeric @bind-Value="data.Quantity" Style="width:100%" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.Price)" Title="Cena">
                <EditTemplate Context="data">
                    <RadzenNumeric @bind-Value="data.Price" Style="width:100%" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.Currency)" Title="Waluta">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.Currency" Style="width:100%" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.ShippingCost)" Title="Koszty wysyłki">
                <EditTemplate Context="data">
                    <RadzenNumeric @bind-Value="data.ShippingCost" Style="width:100%" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.ShippingMethod)" Title="Sposób wysyłki" Visible="false">
                <EditTemplate Context="data">
                    <RadzenNumeric @bind-Value="data.ShippingMethod" Style="width:100%" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.TrackingNumber)" Title="Nr nadwaczy" Visible="false">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.TrackingNumber" Style="width:100%" />
                </EditTemplate> 
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.OrderStatus)" Title="Status zamówienia" Visible="false">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.OrderStatus" Style="width:100%" />
                </EditTemplate> 
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderFileDto" Property="@nameof(OrderFileDto.ValidatorResult)" Title="Błędy" />
            <RadzenDataGridColumn TItem="OrderFileDto" Context="data" TextAlign="TextAlign.Center" Width="120px" Pickable="false">
                <Template Context="data">
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" Icon="edit"
                                  Click="@((args) => _grid.EditRow(data))" />
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" Icon="delete"
                                  Click="@((args) => DeleteRow(data))" Style="margin-left: 5px;" />
                </Template>
                <EditTemplate Context="data">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Icon="save"
                                  Click="@((args) => _grid.UpdateRow(data))" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" Icon="cancel"
                                  Click="@((args) => _grid.CancelEditRow(data))" Style="margin-left: 5px;" />
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}